@charset "UTF-8";

// 背景颜色透明
@mixin background-transparent($color, $opacity: 1) {
    background-color: rgba($color, $opacity);
    @if $env == 'pc' and $support-for-ie {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str(rgba($color, $opacity))}, endColorstr=#{ie-hex-str(rgba($color, $opacity))});
        :root & {
            filter: none;
        }
    }
}
