@charset "UTF-8";
@mixin box-center($width: null, $height: $width) {
    @if $width and $height {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $width;
        height: $height;
        @include margin(($height / -2) null null ($width / -2));
    } @else {
        @include center-translate();
    }
}
