@charset "UTF-8";
//http://www.sassmeister.com/gist/bdb6ed66346a2a1c12cd97c2401e2033
@mixin equal-parts($way:table, $children: li) {
    $childrenEle: li div p a span strong;
    $selector: $children;
    @if not index($childrenEle, $children) {
        $selector: ".#{$children}";
    }
    @if $way == table {
        display: table;
        table-layout: fixed;
        width: 100%;
        #{$selector} {
            display: table-cell;
            width: 1%;
            text-align: center;
        }
    } @else if $way == flex {
        @include display(flex);
        #{$selector} {
            @include flex(1);
            text-align: center;
        }
    } @else {
        @warn "You have to put #{$way} value is set to the table or flex! ";
    }
}
