@charset "UTF-8";
//http://www.sassmeister.com/gist/4b60bfada21e1b9c0a55341eb55c817e
@mixin parent-status($status) {
    $selector: &;
    @each $list in & {
        $parent: nth($list, length($list)-1);
        $selector: selector-replace($selector, $parent, $parent + $status);
    }
    @at-root #{$selector} {
        @content;
    }
}

@mixin parent-hover() {
    @include parent-status(':hover') {
        @content;
    }
}
