@charset "UTF-8";
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

@mixin lines-ellipsis($line, $height: null) {
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: $line;
    line-clamp: $line;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    @if $height {
        max-height: $height;
    }
}

@mixin word-wrap() {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

@mixin nowrap() {
    word-wrap: normal;
    white-space: nowrap;
}
