@charset "UTF-8";

@function _transition-property-name($prop, $vendor: false) {
    @if $vendor and $prop == transform {
        @return unquote('-' + $vendor + '-' + $prop);
    } @else {
        @return $prop;
    }
}

@function _transition-property-names($props, $vendor: false) {
    $new-props: ();
    @each $prop in $props {
        $new-props: append($new-props, _transition-property-name($prop, $vendor), comma);
    }
    @return $new-props;
}
